@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 43% 95%;
    --foreground: 180 5% 10%;
    --card: 180 43% 90%;
    --card-foreground: 180 5% 15%;
    --popover: 180 43% 95%;
    --popover-foreground: 180 95% 10%;
    --primary: 180 67% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --tertiary: 264 76% 27%;
    --tertiary-foreground: 254 55% 43%;
    --muted: 142 30% 85%;
    --muted-foreground: 180 5% 38%;
    --accent: 142 30% 80%;
    --accent-foreground: 180 5% 15%;
    --destructive: 0 50% 38%;
    --destructive-foreground: 180 5% 90%;
    --border: 180 30% 50%;
    --input: 180 30% 38%;
    --ring: 180 67% 39%;
    --radius: 1rem;
    --nav-height:5rem;
    --node-block-background: black;
  }

  .dark {
    --background: 180 43% 10%;
    --foreground: 180 5% 90%;
    --card: 180 43% 10%;
    --card-foreground: 180 5% 90%;
    --popover: 180 43% 5%;
    --popover-foreground: 180 5% 90%;
    --primary: 180 67% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --tertiary: 264 76% 27%;
    --tertiary-foreground: 254 55% 43%;
    --muted: 142 30% 25%;
    --muted-foreground: 180 5% 60%;
    --accent: 142 30% 25%;
    --accent-foreground: 180 5% 90%;
    --destructive: 0 50% 38%;
    --destructive-foreground: 180 5% 90%;
    --border: 180 30% 38%;
    --input: 180 30% 38%;
    --ring: 180 67% 39%;
    --radius: 1rem;
    --node-block-background: white;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* NAV CSS */
.main-nav-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 1450px) {
  .main-nav-container {
      max-width: 1450px;
  }}

#nav-icon {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3.5px;
  width: 100%;
  background: hsl(var(--foreground));
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 9px;
}

#nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon.burgerOpen span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.burgerOpen span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.burgerOpen span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


/* Explorers CSS */
.node-start {
  background-color: rgba(68, 255, 17, 0.8);
}

.node-end {
  background-color: rgba(248, 26, 14, 0.8);
}

.node-weight {
  background-color: rgb(234 179 8);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0);
    background-color: rgba(255, 69, 0, 0.8);
    border-radius: 10%;
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(186, 85, 211, 0.8);
    border-radius: 20%;
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    background-color: rgb(0, 166, 221);
    border-radius: 15%;
    opacity: 0.7;
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0);
    background-color: rgba(255, 69, 0, 0.8);
    border-radius: 50%;
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(255, 215, 0, 0.8);
    border-radius: 20%;
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    background-color: rgba(147, 112, 219, 0.8);
    border-radius: 10%;
    opacity: 0.9;
  }
}

.node-block {
  animation: fade 1s ease infinite alternate;
  background-color: var(--node-block-background); 
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5; 
  }
}

.node-start-green {
  animation-name: startNodeGreenAnimation;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes startNodeGreenAnimation {
  0% {
    transform: scale(0);
    background-color: rgba(102, 255, 102, 0.8);
    border-radius: 10%;
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(255, 102, 102, 0.8); 
    border-radius: 20%;
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    background-color: rgba(63, 255, 63, 0.8); 
    border-radius: 15%;
  }
}

.node-end-red {
  animation-name: endNodeRedAnimation;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes endNodeRedAnimation {
  0% {
    transform: scale(0);
    background-color: rgba(255, 102, 102, 0.8); 
    border-radius: 50%;
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(255, 255, 102, 0.8); 
    border-radius: 20%;
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 53, 53, 0.8);
    border-radius: 10%;
  }
}